/* ------------------------------ page d'accueil ---------------------*/

@font-face {
  font-family: "Shrikhand-Regular";
  src: url(../assets/fonts/Shrikhand-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../assets/fonts/Roboto-Medium.ttf);
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto-Medium";
}
/* --------------------- logo ---------------------------*/

.logo {
  display: block;
  margin: 0px auto;
  object-fit: cover;
}
/* --------------------- case recherche ------------------*/

.box-localisation {
  border-top-color: rgba(128, 128, 128, 0.445);
  box-shadow: 2px 2px 7px 4px rgba(128, 128, 128, 0.623);
  height: 50px;
  background-color: rgba(128, 128, 128, 0.205);
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-icone-lieu {
  display: flex;
  align-items: center;
}

input {
  outline: none;
  border: none;
  background-color: rgba(128, 128, 128, 0);
  font-size: 1.3rem;
  padding-left: 5px;
}

.fa-map-marker-alt {
  font-size: 1.2rem;
}

/* ------------------ container réservation ------------------------------ */

.box-reservation {
  border: 1px solid rgba(128, 128, 128, 0);
  background: #f2f2f2;
  height: 240px;
}

h1 {
  text-align: center;
  font-size: xx-large;
  margin-top: 5px;
}

.titre1-h2 {
  text-align: center;
  margin-top: 10px;
  font-weight: normal;
  font-size: large;
  color: rgba(0, 0, 0, 0.397);
}

.bouton-explorer {
  outline: none;
  border: none;
  border-radius: 9999px;
  width: 240px;
  height: 60px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  background: linear-gradient(190deg, #9356dc, #ff79da);
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}

.bouton-explorer:hover {
  background: #9256dcce;
  box-shadow: 1px 0px 0px 1px #9256dcce;
}

/* ---------------------------- main ----------------------------*/

.titre2-h2 {
  font-size: xx-large;
  margin-top: 15px;
  margin-left: 25px;
  margin-bottom: 25px;
}

.bouton-main {
  position: relative;
  outline: none;
  border: none;
  border-radius: 15px 15px;
  box-shadow: 0px 3px 4px 0px grey;
  width: 350px;
  height: 60px;
  cursor: pointer;
  font-weight: bold;
}

/* .btn2 {
  margin-right: 40px;
  margin-left: 40px;
} */

.bouton-main:hover {
  background-color: rgba(128, 128, 128, 0.192);
}

.bouton-main:hover {
  color: #9356dc;
}

.fa-mobile-alt,
.fa-bars,
.fa-store {
  font-size: 1.3rem;
  margin-right: 10px;
}

.number {
  position: relative;
  right: 15px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  background-color: #9356dc;
  color: white;
}

.text {
  font-size: 1.2rem;
}
.x,
.y,
.z {
  display: flex;
  text-align: center;
}
.ensemble-fonctionnement {
  display: flex;
  justify-content: space-evenly;
}

/* ------------------------------ aside ------------------------------------------------------- */
aside {
  background-color: rgba(128, 128, 128, 0.082);
  padding-bottom: 15%;
  padding-top: 15px;
  margin-top: 45px;
}

aside a {
  text-decoration: none;
  color: black;
}

/* ---------------------------------- ensemble des 4 photos ------------------------- */

.menu {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.titre-restaurants {
  margin-top: 35px;
  margin-left: 25px;
  margin-bottom: 15px;
  font-size: xx-large;
}

/* ------------------LES PHOTOS ---------------------*/

.restaurant-menilmontant,
.restaurant-charonne,
.restaurant-cite-rouge,
.restaurant-mericourt {
  width: 35%;
  height: 270px;
  border-radius: 25px 25px;
  box-shadow: 1px 2px 1px 1px rgba(128, 128, 128, 0.171);
  background-color: white;
  cursor: pointer;
  padding-bottom: 0;
}

.restaurant-menilmontant a,
.restaurant-charonne a,
.restaurant-cite-rouge a,
.restaurant-mericourt a {
  width: 100%;
}
.restaurant-cite-rouge,
.restaurant-mericourt {
  margin-top: 50px;
}
.photo1,
.photo2,
.photo3,
.photo4 {
  width: 100%;
  height: 180px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  object-fit: cover;
}

.titre-accueil-menu1,
.titre-menilmontant,
.titre-accueil-menu2,
.titre-charonne,
.titre-accueil-menu3,
.titre-cite-rouge,
.titre-accueil-menu4,
.titre-mericourt {
  padding-top: 2%;
  margin-left: 4%;
  font-size: x-large;
}

.titre-menilmontant,
.titre-charonne,
.titre-cite-rouge,
.titre-mericourt {
  font-weight: normal;
}

.restaurant-menilmontant,
.restaurant-charonne,
.restaurant-cite-rouge,
.restaurant-mericourt {
  position: relative;
}

#coeur1 {
  color: white;
  display: flex;
  position: absolute;
  top: 75%;
  left: 90%;
  font-size: 1.7rem;
}

#coeur2 {
  display: flex;
  position: absolute;
  top: 75%;
  left: 90%;
  font-size: 1.8rem;
}

#coeur2:hover {
  /* background-color: yellow; */
  transition: 1s;
  /* -webkit-background-clip: text; */
  /* background-color: red;
  color: transparent; */
  color: #9356dc;
  transition: 1s;
}

.nouveau {
  border: 1px solid black;
  background-color: #99e2d0;
  padding: 7px;
  color: teal;
  position: absolute;
  top: 4%;
  right: 4%;
}

.nouveau:hover {
  margin-right: 1px;
  transition: 1s;
  background-color: #99e2d0e3;
}

/* #coeur2-2 {
  display: flex;
  position: absolute;
  top: 75%;
  left: 90%;
  font-size: 1.5rem;
}

#coeur2-2:hover {
  color: #9356dc;
  transition: 1s;
} */

/* --------------------------------- footer -------------------------------*/

footer {
  background-color: #282828;
  color: white;
}

footer ul {
  list-style-type: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3%;
  padding-top: 3%;
  cursor: pointer;
}

.titre-ohmyfood {
  font-family: "Shrikhand-Regular";
  font-size: 1.7rem;
}

.fa-utensils,
.fa-hands-helping {
  margin-right: 5px;
}

li:nth-child(1) {
  margin-left: 10px;
}

li:nth-child(5) {
  margin-right: 10px;
}

.contact1 {
  text-decoration: none;
  color: white;
}

/* --------------------- flèche retour ---------------------------*/

.fa-arrow-left {
  font-size: 1.5rem;
  position: absolute;
  left: 4%;
  top: 2%;
}

a {
  text-decoration: none;
  color: black;
}

/* --------------------------- image fond --------------------------------- */
.bg-img {
  height: 100%;
  width: 100%;
}
.logo-menu {
  height: 350px;
  width: 100%;
  object-fit: cover;
  z-index: -100;
  position: relative;
}

/* ------------------- titre h2 de chaque menu------------------------------*/

.titre-menu {
  font-family: Shrikhand-Regular;
  /* padding-top: 5%; */
  margin-left: 75px;
  margin-bottom: 50px;
  font-size: xx-large;
}

/* ----------------------- ensemble --------------------------------*/

.ensemble1-titres-au-bouton {
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  z-index: 999999;
  padding-top: 50px;
  margin-top: -50px;
  background-color: #e2e2e2;
}

.ensemble2-titres-et-menus {
  display: flex;
  justify-content: space-around;
  height: 450px;
}

.ensemble3-entrees-sans-titres,
.ensemble4-plats-sans-titres,
.ensemble5-desserts-sans-titres {
  width: 30%;
  height: 100%;
  margin-top: 25px;
}

/* ----------------------------- h2 et icône coeur ---------------------*/

#coeur1-3,
#coeur1-1 {
  display: none;
}

/* #coeur1-3 {
  color: #e5e5e5;
  transition: color 1s ease-out;
}

#coeur1-3:hover {
  color: red;
}

#coeur1-1 {
  display: flex;
  position: absolute;
  right: 9%;
  font-size: 1.8rem;
  top: 2%;
}

#coeur1-3 {
  display: flex;
  position: absolute;
  right: 9.6%;
  font-size: 1.5rem;
  top: 2.21%;
} */

/* ---------------------------- les entrées ----------------------*/

.titre-entrees,
.titre-desserts,
.titre-plats {
  display: inline-block;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.795);
  margin-bottom: 420px;
  border-bottom: 4px solid #99e2d0;
  width: 30px;
}

/* ----------------------------------le menu entier ---------------------------------------*/

.titre-article1,
.titre-article2,
.titre-article3,
.titre-article4,
.titre-article5,
.titre-article6,
.titre-article7,
.titre-article8,
.titre-article9,
.titre-article10 {
  background-color: white;
  margin: 5%;
  display: flex;
  border-radius: 15px;
  cursor: pointer;
  height: 90px;
  box-shadow: 5px 5px 11px 3px rgba(0, 0, 0, 0.397);

  animation: fadein 1s 1s linear both;
  position: relative;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.titre-article1:hover,
.titre-article2:hover,
.titre-article3:hover,
.titre-article4:hover,
.titre-article5:hover,
.titre-article6:hover,
.titre-article7:hover,
.titre-article8:hover,
.titre-article9:hover,
.titre-article10:hover {
  background: linear-gradient(190deg, #9256dc93, #ff79d956);
  transition: all, 400ms;
}

.h4-article1,
.h5-article1,
.h5-article1-1,
.h4-article2,
.h5-article2,
.h4-article3,
.h5-article3,
.h4-article4,
.h5-article4,
.h4-article4-1,
.h5-article4-1,
.h4-article5,
.h5-article5,
.h4-article6,
.h5-article6,
.h4-article6-6,
.h5-article6-6,
.h4-article7,
.h5-article7,
.h4-article8,
.h5-article8,
.h4-article9,
.h5-article9,
.h4-article10,
.h5-article10,
.h4-article11,
.h5-article11 {
  padding-left: 4%;
}

.h4-article1,
.h4-article2,
.h4-article3,
.h4-article4,
.h4-article4-1,
.h4-article5,
.h4-article6,
/* .h4-article6-6,
.h4-article6-6, */
.h4-article7,
.h4-article8,
.h4-article9,
.h4-article10 {
  padding-top: 5%;
  width: 310px;
  font-size: larger;
}

.h4-article4-1 {
  width: 325px;
}

.h5-article1,
.h5-article1-1,
.h5-article2,
.h5-article3,
.h5-article4,
.h5-article4-1,
.h5-article5,
.h5-article6,
.h5-article6-6,
.h5-article7,
.h5-article8,
.h5-article9,
.h5-article10,
.h5-article11 {
  font-weight: 100;
  padding-top: 5%;
  font-size: medium;
}

.h5-article1,
.h5-article2,
.h5-article3,
.h5-article4,
.h5-article5,
.h5-article6,
.h5-article7,
.h5-article8,
.h5-article9,
.h5-article10,
.h5-article11 {
  padding-bottom: 3%;
}

.prix {
  position: absolute;
  right: 5%;
  bottom: 10%;
}

/* ------------------------------------ icone checked -------------------------------*/

.cube1 {
  display: none;
}

/* -------------------------------------- bouton commander ----------------------------------------------- */

.bouton-commander {
  outline: none;
  border: none;
  border-radius: 9999px;
  width: 300px;
  height: 70px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background: linear-gradient(190deg, #9356dc, #ff79da);
  display: flex;
  padding: 25px;
  margin: 0 auto;
  justify-content: center;
  font-size: 1rem;
}
.button1 {
  padding-bottom: 25px;
}
.bouton-commander:hover {
  background: #9256dcce;
  box-shadow: 1px 0px 0px 1px #9256dcce;
}
.btn-note-enchantee {
  margin-top: 75px;
}
