/* ------------------------------ page d'accueil ---------------------*/

@font-face {
  font-family: "Shrikhand-Regular";
  src: url(../assets/fonts/Shrikhand-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../assets/fonts/Roboto-Medium.ttf);
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto-Medium";
}
/* --------------------- logo ---------------------------*/

.logo {
  display: block;
  margin: 0px auto;
  object-fit: cover;
}
/* --------------------- case recherche ------------------*/

.box-localisation {
  border-top-color: rgba(128, 128, 128, 0.445);
  box-shadow: 2px 2px 7px 4px rgba(128, 128, 128, 0.623);
  height: 50px;
  background-color: rgba(128, 128, 128, 0.205);
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-icone-lieu {
  display: flex;
  align-items: center;

  padding-left: 100px;
}

input {
  outline: none;
  border: none;
  background-color: rgba(128, 128, 128, 0);
  font-size: 1.3rem;
  padding-left: 20px;
}

.fa-map-marker-alt {
  font-size: 1.2rem;
}

/* ------------------ container réservation ------------------------------ */

.box-reservation {
  border: 1px solid rgba(128, 128, 128, 0);
  background: #f2f2f2;
  height: 240px;
}

h1 {
  text-align: center;
  font-size: xx-large;
  margin-top: 5px;
}

.titre1-h2 {
  text-align: center;
  margin-top: 10px;
  font-weight: normal;
  font-size: large;
  color: rgba(0, 0, 0, 0.397);
}

.bouton-explorer {
  outline: none;
  border: none;
  border-radius: 9999px;
  width: 240px;
  height: 60px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  background: linear-gradient(190deg, #9356dc, #ff79da);
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}

.bouton-explorer:hover {
  background: #9256dcce;
  box-shadow: 0px 0px 30px #9c9c9c;
  /* box-shadow: 1px 0px 0px 1px #9256dcce; */
}

/* ---------------------------- main ----------------------------*/

.titre2-h2 {
  font-size: xx-large;
  margin-top: 15px;
  margin-left: 25px;
  margin-bottom: 25px;
}

.bouton-main {
  position: relative;
  outline: none;
  border: none;
  border-radius: 15px 15px;
  box-shadow: 0px 3px 4px 0px grey;
  width: 350px;
  height: 60px;
  cursor: pointer;
  font-weight: bold;
}

.bouton-main:hover {
  box-shadow: 0px 0px 30px #9c9c9c;
}

/* .btn2 {
  margin-right: 40px;
  margin-left: 40px;
} */

.bouton-main:hover {
  background-color: rgba(128, 128, 128, 0.192);
}

.bouton-main:hover {
  color: #9356dc;
}

.fa-mobile-alt,
.fa-bars,
.fa-store {
  font-size: 1.3rem;
  margin-right: 10px;
}

.number {
  position: relative;
  right: 15px;
  height: 25px;
  padding-top: 4px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  background-color: #9356dc;
  color: white;
}

.text {
  font-size: 1.2rem;
}
.x,
.y,
.z {
  display: flex;
  text-align: center;
}
.ensemble-fonctionnement {
  display: flex;
  justify-content: space-evenly;
}

/* ------------------------------ aside ------------------------------------------------------- */
aside {
  background-color: rgba(128, 128, 128, 0.082);
  padding-bottom: 15%;
  padding-top: 15px;
  margin-top: 45px;
}

aside a {
  text-decoration: none;
  color: black;
}

/* ---------------------------------- ensemble des 4 photos ------------------------- */

.menu {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.titre-restaurants {
  margin-top: 35px;
  margin-left: 25px;
  margin-bottom: 15px;
  font-size: xx-large;
}

/* ------------------LES PHOTOS ---------------------*/

.restaurant-menilmontant,
.restaurant-charonne,
.restaurant-cite-rouge,
.restaurant-mericourt {
  width: 35%;
  height: 270px;
  border-radius: 25px 25px;
  box-shadow: 1px 2px 1px 1px rgba(128, 128, 128, 0.171);
  background-color: white;
  cursor: pointer;
  padding-bottom: 0;
}

.restaurant-menilmontant a,
.restaurant-charonne a,
.restaurant-cite-rouge a,
.restaurant-mericourt a {
  width: 100%;
}
.restaurant-cite-rouge,
.restaurant-mericourt {
  margin-top: 50px;
}
.photo1,
.photo2,
.photo3,
.photo4 {
  width: 100%;
  height: 180px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  object-fit: cover;
}

.titre-accueil-menu1,
.titre-menilmontant,
.titre-accueil-menu2,
.titre-charonne,
.titre-accueil-menu3,
.titre-cite-rouge,
.titre-accueil-menu4,
.titre-mericourt {
  padding-top: 2%;
  margin-left: 4%;
  font-size: x-large;
}

.titre-menilmontant,
.titre-charonne,
.titre-cite-rouge,
.titre-mericourt {
  font-weight: normal;
}

.restaurant-menilmontant,
.restaurant-charonne,
.restaurant-cite-rouge,
.restaurant-mericourt {
  position: relative;
}

.coeur-effet .fas {
  color: transparent;
  position: relative;
  left: 480px;
  bottom: 65px;
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  opacity: 0;
  font-size: 1.5rem;
}

.coeur-effet .far {
  position: relative;
  left: 452px;
  bottom: 65px;
  font-size: 1.5rem;
}

.coeur-effet:hover .fas {
  opacity: 1;
  transition: 0.5s;
  cursor: pointer;
}

.coeur-effet:hover .far {
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}

.nouveau {
  border: 1px solid black;
  background-color: #99e2d0;
  padding: 7px;
  color: teal;
  position: absolute;
  top: 4%;
  right: 4%;
}

.nouveau:hover {
  margin-right: 1px;
  transition: 1s;
  background-color: #99e2d0e3;
}

/* --------------------------------- footer -------------------------------*/

footer {
  background-color: #282828;
  color: white;
}

footer ul {
  list-style-type: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3%;
  padding-top: 3%;
  cursor: pointer;
}

.titre-ohmyfood {
  font-family: "Shrikhand-Regular";
  font-size: 1.7rem;
}

.fa-utensils {
  margin-right: 20px;
}
.fa-hands-helping {
  margin-right: 10px;
}

li:nth-child(1) {
  margin-left: 10px;
}

li:nth-child(5) {
  margin-right: 10px;
}

.contact1 {
  text-decoration: none;
  color: white;
}

/* --------------------- flèche retour ---------------------------*/

.fa-arrow-left {
  font-size: 1.5rem;
  position: absolute;
  left: 4%;
  top: 2%;
}

a {
  text-decoration: none;
  color: black;
}

/* --------------------------- image fond --------------------------------- */
.bg-img {
  height: 100%;
  width: 100%;
}
.photo-menu {
  height: 350px;
  width: 100%;
  object-fit: cover;
  z-index: -100;
  position: relative;
}

/* ------------------- titre h2 de chaque menu------------------------------*/

.titre-menu {
  font-family: Shrikhand-Regular;
  /* padding-top: 5%; */
  margin-left: 75px;
  margin-bottom: 50px;
  font-size: xx-large;
}

/* ----------------------- ensemble --------------------------------*/

.ensemble1-titres-au-bouton {
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  /*  z-index: 999999;*/
  z-index: 201;
  padding-top: 50px;
  margin-top: -50px;
  background-color: #e2e2e2;
}

.ensemble2-titres-et-menus {
  display: flex;
  justify-content: space-around;
  height: 450px;
}

.ensemble3-entrees-sans-titres,
.ensemble4-plats-sans-titres,
.ensemble5-desserts-sans-titres {
  width: 30%;
  height: 100%;
  margin-top: 25px;
}

/* ----------------------------- h2 et icône coeur ---------------------*/

.coeur-effet #coeur-rempli {
  color: transparent;
  position: relative;
  left: 528px;
  bottom: 95px;
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  opacity: 0;
  font-size: 1.5rem;
}

.coeur-effet #coeur-vide {
  position: relative;
  left: 500px;
  bottom: 95px;
  font-size: 1.5rem;
}

.coeur-effet:hover #coeur-rempli {
  opacity: 1;
  transition: 0.5s;
  cursor: pointer;
}

.coeur-effet:hover #coeur-vide {
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}

/* ---------------------------- les entrées ----------------------*/

.titre-entrees,
.titre-desserts,
.titre-plats {
  display: inline-block;
  font-weight: normal;
  color: rgba(0, 0, 0, 0s.795);
  margin-bottom: 420px;
  border-bottom: 4px solid #99e2d0;
  width: 30px;
}

/* --------------------------------------- titres de chaque plats --------------*/
.titres-div1,
.titres-div2,
.titres-div3,
.titres-div4,
.titres-div5,
.titres-div6,
.titres-div7,
.titres-div8,
.titres-div9 {
  width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* ----------------------------------le menu entier ---------------------------------------*/

.titre-article1,
.titre-article2,
.titre-article3,
.titre-article4,
.titre-article4-4,
.titre-article5,
.titre-article6,
.titre-article7,
.titre-article7-7,
.titre-article8,
.titre-article9,
.titre-article10,
.titre-article10-10 {
  background-color: white;
  margin: 5%;
  display: flex;
  border-radius: 15px;
  cursor: pointer;
  height: 90px;
  box-shadow: 5px 5px 11px 3px rgba(0, 0, 0, 0.397);
  position: relative;
  overflow: hidden;
  justify-content: space-between;
  width: 90%;
}

/* -------------------- animation entrée des 3 blocs (entrées / plats / desserts -----------*/

.ensemble3-entrees-sans-titres,
.ensemble4-plats-sans-titres,
.ensemble5-desserts-sans-titres {
  animation: fadein 1s 1s linear both;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.ensemble3-entrees-sans-titres {
  animation-delay: 1s;
}

.ensemble4-plats-sans-titres {
  animation-delay: 1.5s;
}

.ensemble5-desserts-sans-titres {
  animation-delay: 2s;
}

.h4-article1,
.h5-article1,
.h5-article1-1,
.h4-article2,
.h5-article2,
.h4-article3,
.h5-article3,
.h4-article4,
.h5-article4,
.h4-article4-1,
.h5-article4-1,
.h4-article5,
.h5-article5,
.h4-article6,
.h5-article6,
.h4-article6-6,
.h5-article6-6,
.h4-article7,
.h5-article7,
.h4-article8,
.h5-article8,
.h4-article9,
.h5-article9,
.h4-article10,
.h5-article10,
.h4-article11,
.h5-article11 {
  padding-left: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.h4-article1,
.h4-article2,
.h4-article3,
.h4-article4,
.h4-article4-1,
.h4-article5,
.h4-article6,
.h4-article6-6,
.h4-article6-6,
.h4-article7,
.h4-article8,
.h4-article9,
.h4-article10 {
  padding-top: 20px;
  /* width: 310px; */
  font-size: larger;
}

/* .h4-article4-1 {
  width: 325px;
} */

/* .h5-article1,
.h5-article1-1,
.h5-article2,
.h5-article3,
.h5-article4,
.h5-article4-1,
.h5-article5,
.h5-article6,
.h5-article6-6,
.h5-article7,
.h5-article8,
.h5-article9,
.h5-article10,
.h5-article11 */

h5 {
  font-weight: 100;
  padding-top: 20px;
  padding-bottom: 3%;
  font-size: medium;
}

/* .h5-article1,
.h5-article2,
.h5-article3,
.h5-article4,
.h5-article5,
.h5-article6,
.h5-article7,
.h5-article8,
.h5-article9,
.h5-article10,
.h5-article11 {
  padding-bottom: 3%;
} */

/* p {
  position: absolute;
  right: 20%;
  bottom: 10%;
} */

/* -------------------- animation slide --------------------------------*/

p {
  padding-right: 10px;
}
/* ---------------------  pour aligner icone checked ------------------------*/
.box-prix {
  display: flex;
  align-items: center;
  transition: 800ms;
}
/* ----------- mettre hover sur l'article ------------------------------*/

.titre-article1 .box-prix,
.titre-article2 .box-prix,
.titre-article3 .box-prix,
.titre-article4 .box-prix,
.titre-article4-4 .box-prix,
.titre-article5 .box-prix,
.titre-article6 .box-prix,
.titre-article7 .box-prix,
.titre-article7-7 .box-prix,
.titre-article8 .box-prix,
.titre-article9 .box-prix,
.titre-article10-10 .box-prix {
  margin-right: -92px;
}

.titre-article1:hover .box-prix,
.titre-article2:hover .box-prix,
.titre-article3:hover .box-prix,
.titre-article4:hover .box-prix,
.titre-article4-4:hover .box-prix,
.titre-article5:hover .box-prix,
.titre-article6:hover .box-prix,
.titre-article7:hover .box-prix,
.titre-article7-7:hover .box-prix,
.titre-article8:hover .box-prix,
.titre-article9:hover .box-prix,
.titre-article10-10:hover .box-prix {
  margin-right: 0px;
}
.box-icone {
  background-color: #99e2d0;
  padding: 33px;
  /* margin-left: 10px; */
}
.box-icone i {
  color: white;
  transition: none;
  transition: transform 800ms ease-in-out;
  font-size: 1.5rem;
}

.titre-article1:hover .fa-check-circle,
.titre-article2:hover .fa-check-circle,
.titre-article3:hover .fa-check-circle,
.titre-article4:hover .fa-check-circle,
.titre-article4-4:hover .fa-check-circle,
.titre-article5:hover .fa-check-circle,
.titre-article6:hover .fa-check-circle,
.titre-article7:hover .fa-check-circle,
.titre-article7-7:hover .fa-check-circle,
.titre-article8:hover .fa-check-circle,
.titre-article9:hover .fa-check-circle,
.titre-article10-10:hover .fa-check-circle {
  transform: rotate(-360deg);
}

/* -------------------------------------- bouton commander ----------------------------------------------- */

.bouton-commander {
  outline: none;
  border: none;
  border-radius: 9999px;
  width: 300px;
  height: 70px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background: linear-gradient(190deg, #9356dc, #ff79da);
  display: flex;
  padding: 25px;
  margin: 0 auto;
  justify-content: center;
  font-size: 1rem;
}
.button1 {
  padding-bottom: 25px;
}
.bouton-commander:hover {
  background: #9256dcce;
  box-shadow: 0px 0px 30px #9c9c9c;
  /* 5px 2px 0px 1px #9256dcce; */
}

.btn-note-enchantee {
  margin-top: 75px;
}

/* --------------------------------- media query  ---------------------------------*/
/* ---------------------- IPAD -----------------------*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1283px) and (-webkit-min-device-pixel-ratio: 1) {
  .ensemble-fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn2 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .restaurant-menilmontant,
  .restaurant-charonne,
  .restaurant-cite-rouge,
  .restaurant-mericourt {
    width: 310px;
  }

  ul {
    display: flex;
    flex-direction: column;
  }
  .titre-ohmyfood {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 25px;
  }

  li:nth-child(2),
  li:nth-child(3),
  li:nth-child(4),
  li:nth-child(5) {
    padding-top: 10px;
    padding-left: 30px;
  }

  /* ------------------------------- menu des restaurants -------------------------------------*/

  .ensemble2-titres-et-menus {
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    justify-content: center;
  }

  .titre-entrees,
  .titre-desserts,
  .titre-plats {
    margin: 0px 0px 0px 40px;
  }

  .ensemble2-titres-et-menus {
    height: 1300px;
  }
  .titre-article1,
  .titre-article2,
  .titre-article3,
  .titre-article4,
  .titre-article4-4,
  .titre-article5,
  .titre-article6,
  .titre-article7,
  .titre-article7-7,
  .titre-article8,
  .titre-article9,
  .titre-article10,
  .titre-article10-10 {
    /* width: 600px;  */
    margin: 0 auto;
  }
  .ensemble3-entrees-sans-titres,
  .ensemble4-plats-sans-titres,
  .ensemble5-desserts-sans-titres {
    width: 100%;
  }

  .titre-article2,
  .titre-article5,
  .titre-article8,
  .titre-article4-4,
  .titre-article7-7,
  .titre-article10-10 {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

@media only screen and (min-device-width: 930px) and (max-device-width: 1283px) and (-webkit-min-device-pixel-ratio: 1) {
  .menu {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .restaurant-menilmontant,
  .restaurant-charonne,
  .restaurant-cite-rouge,
  .restaurant-mericourt {
    margin: 0px;
    width: 70%;
  }

  .restaurant-menilmontant,
  .restaurant-charonne,
  .restaurant-cite-rouge {
    margin-bottom: 30px;
  }
  .restaurant-mericourt {
    margin-top: 0;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 767px) {
  .logo {
    width: 70%;
  }

  .ensemble-fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bouton-main {
    width: 80%;
  }

  .btn2 {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .restaurant-menilmontant,
  .restaurant-charonne,
  .restaurant-cite-rouge,
  .restaurant-mericourt {
    width: 90%;
    margin: 0;
  }
  .menu a {
    height: 100%;
  }

  .restaurant-menilmontant,
  .restaurant-charonne,
  .restaurant-cite-rouge {
    margin-bottom: 15px;
  }

  ul {
    display: flex;
    flex-direction: column;
  }

  ul li {
    margin-left: 30px;
    margin-bottom: 10px;
  }

  .titre-ohmyfood {
    padding-left: 20px;
    margin-bottom: 15px;
  }

  /* ------------------------------------ media query des menus  --------------------------*/

  .titre-menu {
    margin: 0px;
    padding-left: 15px;
    margin-bottom: 40px;
  }

  .ensemble2-titres-et-menus {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .titre-entrees,
  .titre-desserts,
  .titre-plats {
    margin: 0px 0px 0px 40px;
  }

  .ensemble2-titres-et-menus {
    height: 1300px;
  }
  .titre-article1,
  .titre-article2,
  .titre-article3,
  .titre-article4,
  .titre-article4-4,
  .titre-article5,
  .titre-article6,
  .titre-article7,
  .titre-article7-7,
  .titre-article8,
  .titre-article9,
  .titre-article10,
  .titre-article10-10 {
    /* width: 90%; */
    margin: 0 auto;
  }
  .ensemble3-entrees-sans-titres,
  .ensemble4-plats-sans-titres,
  .ensemble5-desserts-sans-titres {
    width: 100%;
  }

  .titre-article2,
  .titre-article5,
  .titre-article8,
  .titre-article4-4,
  .titre-article7-7,
  .titre-article10-10 {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

/* ---------------------- hover coeur de l'accueil -----------------------*/
@media only screen and (min-device-width: 360px) and (max-device-width: 375px) {
  .coeur-effet .fas {
    left: 268px;
  }

  .coeur-effet .far {
    left: 240px;
  }
}

@media only screen and (min-device-width: 379px) and (max-device-width: 440px) {
  .coeur-effet .fas {
    left: 308px;
  }

  .coeur-effet .far {
    left: 280px;
  }
}

@media only screen and (min-device-width: 441px) and (max-device-width: 480px) {
  .coeur-effet .fas {
    left: 328px;
  }

  .coeur-effet .far {
    left: 300px;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 520px) {
  .coeur-effet .fas {
    left: 388px;
  }

  .coeur-effet .far {
    left: 360px;
  }
}

@media only screen and (min-device-width: 521px) and (max-device-width: 585px) {
  .coeur-effet .fas {
    left: 428px;
  }

  .coeur-effet .far {
    left: 400px;
  }
}

@media only screen and (min-device-width: 586px) and (max-device-width: 654px) {
  .coeur-effet .fas {
    left: 458px;
  }

  .coeur-effet .far {
    left: 430px;
  }
}
@media only screen and (min-device-width: 655px) and (max-device-width: 700px) {
  .coeur-effet .fas {
    left: 528px;
  }

  .coeur-effet .far {
    left: 500px;
  }
}

@media only screen and (min-device-width: 701px) and (max-device-width: 745px) {
  .coeur-effet .fas {
    left: 548px;
  }

  .coeur-effet .far {
    left: 520px;
  }
}

/* @media only screen and (min-device-width: 710px) and (max-device-width: px) {
  .coeur-effet .fas {
    left: 548px;
  }

  .coeur-effet .far {
    left: 520px;
  }
} */
@media only screen and (min-device-width: 746px) and (max-device-width: 767px) {
  .coeur-effet .fas {
    left: 588px;
  }

  .coeur-effet .far {
    left: 560px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 929px) {
  .coeur-effet .fas {
    left: 277px;
  }

  .coeur-effet .far {
    left: 250px;
  }
}

@media only screen and (min-device-width: 930px) and (max-device-width: 987px) {
  .coeur-effet .fas {
    left: 618px;
  }

  .coeur-effet .far {
    left: 590px;
  }
}

@media only screen and (min-device-width: 988px) and (max-device-width: 1085px) {
  .coeur-effet .fas {
    left: 647px;
  }

  .coeur-effet .far {
    left: 620px;
  }
}

@media only screen and (min-device-width: 1086px) and (max-device-width: 1155px) {
  .coeur-effet .fas {
    left: 718px;
  }

  .coeur-effet .far {
    left: 690px;
  }
}
@media only screen and (min-device-width: 1156px) and (max-device-width: 1244px) {
  .coeur-effet .fas {
    left: 768px;
  }

  .coeur-effet .far {
    left: 740px;
  }
}

@media only screen and (min-device-width: 1245px) and (max-device-width: 1283px) {
  .coeur-effet .fas {
    left: 818px;
  }

  .coeur-effet .far {
    left: 790px;
  }
}

@media only screen and (min-device-width: 1284px) and (max-device-width: 1410px) {
  .coeur-effet .fas {
    left: 408px;
  }

  .coeur-effet .far {
    left: 380px;
  }
}

@media only screen and (min-device-width: 1410px) and (max-device-width: 1500px) {
  .coeur-effet .fas {
    left: 448px;
  }

  .coeur-effet .far {
    left: 420px;
  }
}

@media only screen and (min-device-width: 1501px) {
  .coeur-effet .fas {
    left: 488px;
  }

  .coeur-effet .far {
    left: 460px;
  }
}

/* ---------------- media query : hover coeur des menus ----------------------------- */

@media only screen and (min-device-width: 350px) and (max-device-width: 375px) {
  .coeur-effet #coeur-rempli {
    left: 333px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 305px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 376px) and (max-device-width: 400px) {
  .coeur-effet #coeur-rempli {
    left: 348px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 320px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 401px) and (max-device-width: 430px) {
  .coeur-effet #coeur-rempli {
    left: 368px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 340px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 431px) and (max-device-width: 470px) {
  .coeur-effet #coeur-rempli {
    left: 398px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 370px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 471px) and (max-device-width: 500px) {
  .coeur-effet #coeur-rempli {
    left: 413px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 385px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 501px) and (max-device-width: 535px) {
  .coeur-effet #coeur-rempli {
    left: 448px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 420px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 536px) and (max-device-width: 570px) {
  .coeur-effet #coeur-rempli {
    left: 478px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 450px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 571px) and (max-device-width: 610px) {
  .coeur-effet #coeur-rempli {
    left: 498px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 470px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 611px) and (max-device-width: 640px) {
  .coeur-effet #coeur-rempli {
    left: 528px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 500px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 641px) and (max-device-width: 670px) {
  .coeur-effet #coeur-rempli {
    left: 568px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 540px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 671px) and (max-device-width: 710px) {
  .coeur-effet #coeur-rempli {
    left: 598px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 570px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 711px) and (max-device-width: 740px) {
  .coeur-effet #coeur-rempli {
    left: 628px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 600px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 741px) and (max-device-width: 790px) {
  .coeur-effet #coeur-rempli {
    left: 678px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 650px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 791px) and (max-device-width: 860px) {
  .coeur-effet #coeur-rempli {
    left: 718px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 690px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 861px) and (max-device-width: 910px) {
  .coeur-effet #coeur-rempli {
    left: 768px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 740px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 911px) and (max-device-width: 950px) {
  .coeur-effet #coeur-rempli {
    left: 798px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 770px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 951px) and (max-device-width: 1030px) {
  .coeur-effet #coeur-rempli {
    left: 858px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 830px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 1031px) and (max-device-width: 1100px) {
  .coeur-effet #coeur-rempli {
    left: 918px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 890px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 1101px) and (max-device-width: 1130px) {
  .coeur-effet #coeur-rempli {
    left: 1008px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 980px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 1131px) and (max-device-width: 1170px) {
  .coeur-effet #coeur-rempli {
    left: 1028px;
    bottom: 75px;
  }
  .coeur-effet #coeur-vide {
    left: 1000px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 1171px) and (max-device-width: 1210px) {
  .coeur-effet #coeur-rempli {
    left: 1078px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 1050px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 1211px) and (max-device-width: 1240px) {
  .coeur-effet #coeur-rempli {
    left: 1108px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 1080px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 1241px) and (max-device-width: 1280px) {
  .coeur-effet #coeur-rempli {
    left: 1138px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 1110px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 1281px) and (max-device-width: 1360px) {
  .coeur-effet #coeur-rempli {
    left: 1178px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 1150px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 1361px) and (max-device-width: 1400px) {
  .coeur-effet #coeur-rempli {
    left: 1218px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 1190px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 1401px) and (max-device-width: 1450px) {
  .coeur-effet #coeur-rempli {
    left: 1268px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 1240px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 1451px) and (max-device-width: 1490px) {
  .coeur-effet #coeur-rempli {
    left: 1318px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 1290px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 1491px) {
  .coeur-effet #coeur-rempli {
    left: 1358px;
    bottom: 75px;
  }

  .coeur-effet #coeur-vide {
    left: 1330px;
    bottom: 75px;
  }
}

@media only screen and (min-device-width: 430px) {
  .bouton-main {
    max-width: 420px;
  }
}

/* ------------------------------ loading spinner ---------------------*/

.loading-spinner {
  position: fixed;
  top: 0;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 201;
  width: 100%;
  height: 100%;
  animation: loading 3s ease-in forwards;
  background-color: white;
}

.loading-spiner {
  animation-duration: 3s;

  animation-duration: 2s;
}

.logo-spinner {
  width: 300px;
  animation: loading 3s ease-in forwards;
}
/* 
.rond {
  display: flex;
  width: 400px;
  height: 400px;
  border: 10px solid;
  border-bottom: 10px solid #99e2d0;
  border-top: 10px solid #9356dc;
  border-right: 10px solid #9356dc;
  border-left: 10px solid #99e2d0;
  border-radius: 50%;
  position: relative;
  left: 340px;
  align-items: center;
  justify-content: center;
} */

@keyframes loading {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(5px);
  }

  40% {
    transform: translateY(0px);
    /* background-color: rgba(245, 245, 245, 0); */
  }

  60% {
    transform: translateY(5px);
    /* background-color: rgba(245, 245, 245, 0); */
  }

  80% {
    transform: translateY(0px);
    /* background-color: rgba(245, 245, 245, 0); */
  }

  100% {
    transform: translateY(5px);
    opacity: 0;

    visibility: hidden;
    background-color: rgba(245, 245, 245, 0);
  }
}
